{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<form action="{% url 'list' %}" method="GET">
    <input type="text" name='q' placeholder="Search here..." value="{{request.GET.q}}" 
    style= "margin: 10px">
    <input type="submit" value="Search">
</form>

<div class="row">
    {% for event in events %}

    <div class="col-md-4">
        <div class="card my-card" style= "margin: 10px">
              <div class="card-body">
              <h5 class="card-title"> Name :{{event.title}}</h5>
              <a href="{% url 'detail' event.id %}" class="btn btn-outline-dark">View more</a> 
               {% if event.get_seats_left == 0 %}
                <button class="btn btn-danger">FULL</button>
               {% else %}
                <a href="{% url 'booking' event.id %}" class="btn btn-outline-dark">Book</a>
              {% endif %}
    </div>
                
          </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}